<template classname="MachineShow">
  <head>
    <include src="app/comet/views/instances/_console_output.hpp" require="ConsoleOutput" />
    <include src="app/comet/models/machine.hpp" />
    <include src="app/comet/time.hpp" />
    <attribute type="std::string" name="operating_system" />
    <attribute type="std::string" name="hdd_space" />
    <attribute type="std::string" name="memory" />
    <script>
      virtual std::shared_ptr<Front::Machine> get_model() const = 0;
      virtual void on_upgrade_clicked() = 0;
    </script>
  </head>
  <body>
    <model-view cpp::title.bind='root->get_model() ? root->get_model()->get_name() : "Machine"' ref="wrapper">
      <div slot="content" class="row">
        <div class="col-lg-12" ref="view_container">
          <table-responsive>
            <tbody slot="tbody">
              <tr>
                <td>IP Address</td>
                <td text.bind='root->get_model() ? root->get_model()->get_ip() : ""'></td>
              </tr>
              <tr>
                <td>Operating System</td>
                <td text.bind="root->operating_system & signal:state-fetched"></td>
              </tr>
              <tr>
                <td>Root partition</td>
                <td text.bind="root->hdd_space & signal:state-fetched"></td>
              </tr>
              <tr>
                <td>Memory usage</td>
                <td text.bind="root->memory & signal:state-fetched"></td>
              </tr>
              <tr class="machine-upgrade">
                <td>Upgrade</td>
                <td>
                  <span class="time" text.bind='root->get_model() ? get_date_string(root->get_model()->get_last_upgrade()) : "" & signal:upgraded'>
                  </span>
                  <button class="au-btn au-btn-icon au-btn--blue au-btn--small"
			  click.trigger="root->on_upgrade_clicked()">
                    <i class="fa fa-sync"></i>
                    Upgrade now
                  </button>
                </td>
              </tr>
            </tbody>
          </table-responsive>
          <card cpp::title.bind='"Console output"' ref="console_container">
            <div slot="content">
              <div style="height:500px;overflow:auto;background-color:#263238">
                <console-output ref="console_output" />
              </div>
            </div>
          </card>
        </div>
      </div>
    </model-view>
  </body>
</template>
