Gemfile.lock
build
.comet-build
.sass-cache
.tmp
.bundle

lib/

.kdev
*.kdev4
.*.sw*

docker/output
docker/ruby

tasks/odb_migrate/application-schema.cxx
public/assets/application.js
public/assets/application.js.map
public/assets/application.css
front/app/data
