<template>
  <body>
    <div class="au-message__item unread">
      <div class="au-message__item-inner">
        <div class="au-message__item-text">
          <div class="avatar-wrap">
          </div>
          <div class="text">
            <h5 class="name">Successful deployment</h5>
            <p>Instance [...] deployed a new build successfully</p>
          </div>
        </div>
        <div class="au-message__item-time"><span>12 min ago</span></div>
      </div>
    </div>
  </body>
</template>
