<template classname="Dashboard">
  <head>
    <include src="app/comet/time.hpp" />
    <include src="app/comet/datatree.hpp" />
    <include src="html/views/dashboard/dashboard_list.hpp"
             require="HtmlTemplate::DashboardList"
             tag-name="dashboard-list" />
    <include src="app/comet/views/dashboard/last_builds_widget.hpp"
             require="::LastBuildsWidget" />
  </head>
  <body>
    <title-1 cpp::title.bind='"Overview"'></title-1>
    <div class="row">
      <div class="col-lg-6">
        <last-builds-widget ref="last_builds" />
      </div>

      <div class="col-lg-6">
        <dashboard-list cpp::header_background.bind='"/images/events-head.webp"'>
          <h3 slot="title">
            <i class="zmdi zmdi-comment-text"></i> Last events
          </h3>

          <span slot="header">
            You have <span>2</span> new messages.
          </span>

	  <div slot="content">
            <div class="au-message__item unread">
              <div class="au-message__item-inner">
                <div class="au-message__item-text">
                  <div class="avatar-wrap">
                  </div>
                  <div class="text">
                    <h5 class="name">Successful deployment</h5>
                    <p>Instance [...] deployed a new build successfully</p>
                  </div>
                </div>
                <div class="au-message__item-time"><span>12 min ago</span></div>
              </div>
            </div>
            <div class="au-message__item">
              <div class="au-message__item-inner">
                <div class="au-message__item-text">
                  <div class="avatar-wrap">
                  </div>
                  <div class="text">
                    <h5 class="name">Backup failed</h5>
                    <p>Instance [...] failed to backup</p>
                  </div>
                </div>
                <div class="au-message__item-time"><span>12 min ago</span></div>
              </div>
            </div>
	  </div>
        </dashboard-list>
      </div>
    </div>
  </body>
</template>
