<template>
  <head>
    <attribute type="float" name="progress" value="0.f" />
    <attribute type="std::string" name="label" />
    <script>
      void set_active(bool active)
      {
        el.toggle_class("progress-bar-animated", active);
      }

      void update_progress(float value)
      {
        if (value != progress)
        {
          set_progress(value);
          signaler.trigger("progress-changed");
        }
      }

      std::string get_style()
      {
        std::stringstream stream;

        stream << "width:" << (progress * 100) << '%';
        return stream.str();
      }
    </script>
  </head>
  <body class="progress mb-3">
    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
         style.bind="get_style() & signal:progress-changed"
         ref="el">
      <span text.bind="label & signal:progress-changed"></span>
    </div>
  </body>
</template>
