<template>
  <head>
    <include src="app/comet/searches.hpp" />
    <attribute type="std::shared_ptr<SearchQuery>" name="results" />
    <script>
      virtual const std::vector<Front::Machine>&  get_machines()  const = 0;
      virtual const std::vector<Front::Instance>& get_instances() const = 0;
      virtual const std::vector<Front::Build>&    get_builds()    const = 0;
      bool has_any_results() const { return get_machines().size() + get_instances().size() + get_builds().size() > 0; }

      virtual void on_search_clicked() = 0;
      virtual bool monitor_query() = 0;
    </script>
  </head>
  <body data-active.bind='results ? "true" : "false" & signal:results-changed'>
    <input class="au-input au-input--xl" type="text" name="search" placeholder="search for machines, instances or builds" style="width:100%" autocomplete="off" ref="input" />
    <button class="au-btn--submit" click.trigger="on_search_clicked()">
      <i class="zmdi zmdi-search"></i>
    </button>
    <div class="results" show.bind="monitor_query() && results != nullptr & throttle:750">
      <ul>
        <li show.bind="!has_any_results() & signal:results-changed" cass="hint-no-results">
          <fa-icon cpp::name.bind='"info-circle"' />Nothing matched your query...
        </li>

        <li show.bind="get_machines().size() > 0 & signal:results-changed">
          <fa-icon cpp::name.bind='"server"' />Machines
        </li>
        <li repeat.for="model of [std::vector<Front::Machine>]get_machines() & signal:results-changed">
          <a href.bind="model.get_path()" text.bind="model.get_name()"></a>
        </li>

        <li show.bind="get_instances().size() > 0 & signal:results-changed">
          <fa-icon cpp::name.bind='"cloud"' />Instances
        </li>
        <li repeat.for="model of [std::vector<Front::Instance>]get_instances() & signal:results-changed">
          <a href.bind="model.get_path()" text.bind="model.get_name()"></a>
        </li>

        <li show.bind="get_builds().size() > 0 & signal:results-changed">
          <fa-icon cpp::name.bind='"archive"' />Builds
        </li>
        <li repeat.for="model of [std::vector<Front::Build>]get_builds() & signal:results-changed">
          <a href.bind="model.get_path()" text.bind="model.get_name()"></a>
        </li>
      </ul>
    </div>
  </body>
</template>
