<template classname="RecipeNew">
  <head>
    <include src="app/comet/collections/credentials.hpp" />
    <include src="app/comet/views/utility/select.hpp"
             tag-name="credentials-select"
             require="Views::CollectionSelectWithName<Front::Credentials>" />
    <script>
      virtual void on_save_clicked() = 0;
      virtual std::string   get_title() const = 0;
      virtual std::string   get_recipe_name() const = 0;
      virtual std::string   get_recipe_git_url() const = 0;
      virtual std::string   get_recipe_git_branch() const = 0;
      virtual unsigned long get_recipe_credentials_id() const = 0;
    </script>
  </head>
  <body>
    <model-form cpp::title.bind="get_title()" cpp::save-clicked.trigger="on_save_clicked()">
      <div slot="inputs">
        <form-group cpp::label.bind='"name"' cpp::name.bind='"recipe_name"' cpp::value.bind="root->get_recipe_name()">
        </form-group>
        <form-group cpp::label.bind='"git url"' cpp::name.bind='"recipe_git_url"' cpp::value.bind="root->get_recipe_git_url()">
        </form-group>
        <form-group cpp::label.bind='"git branch"' cpp::name.bind='"recipe_git_branch"' cpp::value.bind="root->get_recipe_git_branch()">
        </form-group>
        <form-group cpp::label.bind='"credentials"' cpp::name.bind='"recipe_credentials"'>
          <credentials-select slot="input" name="recipe_credentials" class="form-control" ref="credential_input"
                              cpp::value.bind="root->get_recipe_credentials_id()">
          </credentials-select>
        </form-group>
      </div>
    </model-form>
  </body>
</template>
