<template>
  <head>
    <include src="app/backups.hpp" />
    <attribute type="std::string" name="title" />
    <script>
      virtual void on_save_clicked() = 0;
      virtual std::shared_ptr<Puppeteer::Backup> get_model() const = 0;
    </script>
  </head>
  <body>
    <model-form cpp::title.bind='"Backup settings"' cpp::save-clicked.trigger="root->on_save_clicked()">
      <div slot="inputs">
        <form-group cpp::label.bind='"schedule"' cpp::name.bind='"backup_schedule"'
                    cpp::value.bind='root->get_model() ? root->get_model()->get_schedule() : ""'>
        </form-group>
      </div>
    </model-form>
  </body>
</template>
