<template>
  <head>
    <script>
      virtual void on_save_clicked() = 0;
      virtual std::string get_title() const = 0;
      virtual std::string get_credentials_name() const = 0;
      virtual std::string get_credentials_user() const = 0;
      virtual std::string get_credentials_pswd() const = 0;
    </script>
  </head>
  <body>
    <model-form cpp::title.bind="get_title()" cpp::save-clicked.trigger="on_save_clicked()">
      <div slot="inputs">
        <form-group cpp::label.bind='"name"'
                    cpp::name.bind='"credentials_name"'
                    cpp::value.bind="root->get_credentials_name()">
        </form-group>
        <form-group cpp::label.bind='"user name"'
                    cpp::name.bind='"credentials_user"'
                    cpp::value.bind="root->get_credentials_user()">
        </form-group>
        <form-group cpp::label.bind='"password"'
                    cpp::name.bind='"credentials_pswd"'
                    cpp::value.bind="root->get_credentials_pswd()"
                    cpp::type.bind='"password"'>
        </form-group>
      </div>
    </model-form>
  </body>
</template>
