<template>
  <head>
    <include src="app/credentials.hpp" />
    <script>
      virtual std::shared_ptr<Puppeteer::Credential> get_model() const = 0;
    </script>
  </head>
  <body>
    <model-view cpp::title.bind='"Credential"' ref="wrapper">
      <div slot="content" class="row">
        <div class="col-lg-12">
          <table-responsive>
            <tbody slot="tbody">
              <tr>
                <td>Username</td>
                <td text.bind='root->get_model() != nullptr ? root->get_model()->get_username() : ""'></td>
              </tr>
            </tbody>
          </table-responsive>
        </div>
      </div>
    </model-view>
  </body>
</template>
