<template>
  <head>
    <include src="front/time.hpp" />
    <include src="front/datatree.hpp" />
    <include src="lib/cheerp-html/views/dashboard/dashboard_list.hpp"
             require="HtmlTemplate::DashboardList"
             tag-name="dashboard-list" />
    <include src="lib/cheerp-html/views/dashboard/dashboard_list_item.hpp"
             require="HtmlTemplate::DashboardListItem"
             tag-name="dashboard-list-item" />
    <attribute type="std::vector<Data>" name="last_builds" />
  </head>
  <body>
    <title-1 cpp::title.bind='"Overview"'></title-1>
    <div class="row">
      <div class="col-lg-6">
        <dashboard-list>
          <h3 slot="title">
            <i class="zmdi zmdi-calendar-note"></i> Last jobs
          </h3>

          <div slot="content">

    <div class="au-message__item unread" repeat.for="build of [std::vector<Data>]root->last_builds & signal:last-builds-changed">
      <div class="au-message__item-inner">
        <div class="au-message__item-text">
          <div class="avatar-wrap">
            <fa-icon cpp::name.bind='build["result"].as<std::string>() == "SUCCESS" ? "thumbs-up" : "thumbs-down"'/>
          </div>
          <div class="text">
            <h5 class="name" text.bind='build["name"].as<std::string>()'></h5>
            <p>
              <a href.bind='build["url"].as<std::string>()'>
                Build number <span text.bind='build["number"].as<std::string>()'></span>
	      </a>
              completed in <span text.bind='build["duration"].as<std::string>()'></span>
            </p>
          </div>
        </div>
        <div class="au-message__item-time"><span text.bind='get_date_string(build["timestamp"])'></span></div>
      </div>
    </div>


          </div>
        </dashboard-list>
      </div>

      <div class="col-lg-6">
        <dashboard-list>
          <h3 slot="title">
            <i class="zmdi zmdi-comment-text"></i> Last events
          </h3>

          <span slot="header">
            You have <span>2</span> new messages.
          </span>

	  <div slot="content">
            <div class="au-message__item unread">
              <div class="au-message__item-inner">
                <div class="au-message__item-text">
                  <div class="avatar-wrap">
                  </div>
                  <div class="text">
                    <h5 class="name">Successful deployment</h5>
                    <p>Instance [...] deployed a new build successfully</p>
                  </div>
                </div>
                <div class="au-message__item-time"><span>12 min ago</span></div>
              </div>
            </div>
            <div class="au-message__item">
              <div class="au-message__item-inner">
                <div class="au-message__item-text">
                  <div class="avatar-wrap">
                  </div>
                  <div class="text">
                    <h5 class="name">Backup failed</h5>
                    <p>Instance [...] failed to backup</p>
                  </div>
                </div>
                <div class="au-message__item-time"><span>12 min ago</span></div>
              </div>
            </div>
	  </div>
        </dashboard-list>
      </div>
    </div>
  </body>
</template>
