<template>
  <head>
    <include src="views/instance/action_widget.hpp" require="InstanceActionWidget" tag-name="action-widget" />
    <include src="views/instance/state_widget.hpp" require="InstanceStateWidget" tag-name="state-widget" />
    <include src="views/instance/console_output.hpp" require="ConsoleOutput" />
    <include src="app/instances.hpp" />
  <script>
    virtual std::shared_ptr<Puppeteer::Instance> get_model() const = 0;
  </script>
  </head>
  <body>
    <model-view cpp::title.bind='get_model() ? get_model()->get_name() : "Instance"' ref="wrapper">
      <div slot="content" class="row">
        <div class="col-lg-6">
          <card cpp::title.bind='"State"'>
            <div slot="content">
              <state-widget cpp::model.bind="root->get_model() & signal:model-changed" ref="state_widget">
              </state-widget>
            </div>
          </card>
        </div>

        <div class="col-lg-6">
          <card cpp::title.bind='"Actions"'>
            <div slot="content">
              <action-widget cpp::model.bind="root->get_model() & signal:model-changed" ref="action_widget">
              </action-widget>
            </div>
          </card>
        </div>

        <div class="col-lg-12">
          <card cpp::title.bind='"Console output"'>
            <div slot="content" style="height:500px;overflow:auto">
              <console-output ref="console_output" />
            </div>
          </card>
        </div>
      </div>
    </model-view>
  </body>
</template>
