<template>
  <head>
    <include src="app/machines.hpp" />
    <include src="app/builds.hpp" />
    <include src="views/utility/select.hpp"
             tag-name="machine-select"
             require="Views::CollectionSelectWithName<Puppeteer::Machines>" />
    <include src="views/utility/select.hpp"
             tag-name="build-select"
             require="Views::CollectionSelectWithName<Puppeteer::Builds>" />
    <script>
      virtual void on_save_clicked() = 0;
      virtual std::string   get_title() const = 0;
      virtual std::string   get_instance_name() const = 0;
      virtual std::string   get_instance_user() const = 0;
      virtual unsigned long get_instance_machine_id() const = 0;
      virtual unsigned long get_instance_build_id() const = 0;
      virtual std::string   get_instance_variables() const = 0;
    </script>
  </head>
  <body>
    <model-form cpp::title.bind="get_title()" cpp::save-clicked.trigger="on_save_clicked()">
      <div slot="inputs">
        <form-group cpp::label.bind='"name"' cpp::name.bind='"instance_name"' cpp::value.bind="root->get_instance_name()">
        </form-group>
        <form-group cpp::label.bind='"user name"' cpp::name.bind='"instance_user"' cpp::value.bind="root->get_instance_user()">
        </form-group>
        <form-group cpp::label.bind='"machine"' cpp::name.bind='"instance_machine"'>
          <machine-select slot="input" name="instance_machine" class="form-control" ref="machine_input"
                          cpp::value.bind="root->get_instance_machine_id()">
          </machine-select>
        </form-group>
        <form-group cpp::label.bind='"build"' cpp::name.bind='"instance_build"'>
          <build-select slot="input" name="instance_build" class="form-control" ref="build_input"
                        cpp::value.bind="root->get_instance_build_id()">
          </build-select>
        </form-group>
        <form-group cpp::label.bind='"environment variables"'>
          <variable-list-editor slot="input" ref="variables_input" cpp::value.bind="root->get_instance_variables()">
          </variable-list-editor>
        </form-group>
      </div>
    </model-form>
  </body>
</template>
