<template>
  <head>
    <script>
      virtual void on_save_clicked() = 0;
      virtual std::string get_title() const = 0;
      virtual std::string get_machine_ip() const = 0;
      virtual std::string get_machine_name() const = 0;
    </script>
  </head>
  <body>
    <model-form cpp::title.bind="get_title()" cpp::save-clicked.trigger="on_save_clicked()">
      <div slot="inputs">
        <form-group cpp::label.bind='"name"' cpp::name.bind='"machine_name"' cpp::value.bind="root->get_machine_name()">
        </form-group>
        <form-group cpp::label.bind='"ip address"' cpp::name.bind='"machine_ip"' cpp::value.bind="root->get_machine_ip()">
        </form-group>
      </div>
    </model-form>
  </body>
</template>
