<template>
  <head>
    <include src="app/instances.hpp" />
    <include src="resources/action.hpp" />
    <attribute type="std::shared_ptr<Puppeteer::Instance>" name="model" />
    <script>
      virtual Actions get_visible_actions() = 0;
    </script>
  </head>
  <body>
    <div style="text-align:center">
      <div class="btn-group actions">
        <button repeat.for="action of [Actions]get_visible_actions() & signal:actions-changed"
                class="au-btn au-btn-icon au-btn--blue au-btn--small"
                click.trigger="action.callback()">
          <fa-icon cpp::name.bind="action.icon" />
          <span text.bind="action.label"></span>
        </button>
      </div>
      <progress-bar ref="progress_bar" />
    </div>
  </body>
</template>
