<template>
  <head>
    <include src="app/instances.hpp" />
    <script>
      virtual std::shared_ptr<Puppeteer::Instance> get_model() const = 0;

      bool has_auto_deploy() const { return get_model() && get_model()->get_auto_deploy(); }
      bool is_ready() const        { return get_model() && get_model()->get_state() == Puppeteer::Instance::State::Deployed; }

      std::string get_deployed_build() const
      {
        return get_model()
          ? boost::lexical_cast<std::string>(get_model()->get_deployed_build())
          : "-";
      }

      virtual bool is_running() const = 0;
      virtual bool is_stopped() const = 0;
      virtual bool is_dirty()   const = 0;
      virtual void on_start_clicked() = 0;
      virtual void on_stop_clicked()  = 0;
    </script>
  </head>
  <body>
    <ul class="instance-data">
      <li>
        <label>Current state</label>
        <div class="value">
          <span class="badge badge-success" show.bind="root->is_running() & signal:state-changed">Running</span>
          <span class="badge badge-warning" show.bind="root->is_stopped() & signal:state-changed">Stopped</span>
          <span class="badge badge-danger"  show.bind="root->is_dirty() & signal:state-changed">Dirty</span>
        </div>
      </li>
      <li>
        <label>Build version</label>
        <div class="value">
          <span text.bind="root->get_deployed_build() & signal:model-changed"></span>
        </div>
      </li>
      <li>
        <label>Automatic deployment</label>
        <div class="value">
          <span class="badge badge-primary"   show.bind="root->has_auto_deploy() & signal:model-changed">Yes</span>
          <span class="badge badge-secondary" show.bind="!root->has_auto_deploy() & signal:model-changed">No</span>
        </div>
      </li>
    </ul>

    <div class="btn-group actions" show.bind="root->is_ready()">
      <button class="au-btn au-btn-icon au-btn--blue au-btn--small" click.trigger="on_start_clicked()">
        <i class="fa fa-play"></i> Start
      </button>
      <button class="au-btn au-btn-icon au-btn--red au-btn--small" click.trigger="on_stop_clicked()">
        <i class="fa fa-stop"></i> Stop
      </button>
    </div>
  </body>
</template>
