<template classname="BackupShow">
  <head>
    <include src="app/comet/collections/backups.hpp" />
    <attribute type="bool" name="is_enabled" value="true" />
    <script>
      virtual std::shared_ptr<Front::Backup> get_model() const = 0;
      virtual std::vector<Comet::Object>& get_builds() = 0;
      virtual void on_restore_build_clicked(std::string) = 0;
      virtual void on_remove_build_clicked(std::string) = 0;
      virtual void on_enabled_clicked(bool) = 0;

      virtual std::string get_backup_date_string(Comet::Object) const = 0;
    </script>
  </head>
  <body>
    <model-view cpp::title.bind='root->get_model() ? root->get_model()->get_name() : "Backup"' ref="wrapper">
      <div slot="controls">
        <div class="btn-group" ref="controls">
          <a class="au-btn au-btn-icon au-btn--blue"
             href.bind="root->wrapper.get_edit_path() & signal:model-changed">
            <fa-icon cpp::name.bind='"edit"' />
            Edit
          </a>
          <a class="au-btn au-btn-icon au-btn--blue" href="javascript:"
             click.trigger="root->on_enabled_clicked(true)"
             show.bind="!root->is_enabled & signal:enabled-state-changed">
            <fa-icon cpp::name.bind='"play"' />
            Enable
          </a>
          <a class="au-btn au-btn-icon au-btn--blue" href="javascript:"
             click.trigger="root->on_enabled_clicked(false)"
             show.bind="root->is_enabled & signal:enabled-state-changed">
            <fa-icon cpp::name.bind='"pause"' />
            Disable
          </a>
        </div>
      </div>

      <div slot="content" class="row">
        <div class="col-lg-12">
          <table-responsive role="backup-table">
            <thead slot="thead">
              <tr>
                <th>Number</th>
                <th>Date</th>
                <th style="width:280px">Actions</th>
              </tr>
            </thead>
            <tbody slot="tbody">
              <tr repeat.for="build of [std::vector<Comet::Object>]root->get_builds() & signal:builds-fetched">
                <td text.bind='(std::string)(build["number"])'></td>
                <td text.bind='root->get_backup_date_string(build["timestamp"])'></td>
                <td style="text-align:right">
                  <div class="btn-group">
                    <button class="au-btn au-btn-icon au-btn--blue au-btn--small"
                            click.trigger='root->on_restore_build_clicked((std::string)(build["number"]))'
                            show.bind='(std::string)(build["success"]) == "true"'>
                      <i class="fa fa-upload"></i>
                      Restore
                    </button>
                    <button class="au-btn au-btn-icon au-btn--red au-btn--small"
                            click.trigger='root->on_remove_build_clicked((std::string)(build["number"]))'>
                      <i class="fa fa-trash"></i>
                      Delete
                    </button>
                  </div>
		</td>
              </tr>
            </tbody>
          </table-responsive>
        </div>
      </div>
    </model-view>
  </body>
</template>
