<template classname="InstanceNew">
  <head>
    <include src="app/comet/collections/machines.hpp" />
    <include src="app/comet/collections/builds.hpp" />
    <include src="app/comet/collections/recipes.hpp" />
    <include src="app/comet/views/utility/select.hpp"
             tag-name="machine-select"
             require="Views::CollectionSelectWithName<Front::Machines>" />
    <include src="app/comet/views/utility/select.hpp"
             tag-name="build-select"
             require="Views::CollectionSelectWithName<Front::Builds>" />
    <include src="app/comet/views/utility/select.hpp"
             tag-name="recipe-select"
             require="Views::CollectionSelectWithName<Front::Recipes>" />
    <script>
      virtual void on_save_clicked() = 0;
      virtual std::string   get_title() const = 0;
      virtual std::string   get_instance_name() const = 0;
      virtual std::string   get_instance_user() const = 0;
      virtual unsigned long get_instance_machine_id() const = 0;
      virtual unsigned long get_instance_build_id() const = 0;
      virtual unsigned long get_instance_recipe_id() const = 0;
      virtual std::string   get_instance_variables() const = 0;
    </script>
  </head>
  <body>
    <model-form cpp::title.bind="get_title()" cpp::save-clicked.trigger="on_save_clicked()">
      <div slot="inputs">
        <form-group cpp::label.bind='"name"' cpp::name.bind='"instance_name"' cpp::value.bind="root->get_instance_name()">
        </form-group>
        <form-group cpp::label.bind='"user name"' cpp::name.bind='"instance_user"' cpp::value.bind="root->get_instance_user()">
        </form-group>
        <form-group cpp::label.bind='"machine"' cpp::name.bind='"instance_machine"'>
          <machine-select slot="input" name="instance_machine" class="form-control" ref="machine_input">
          </machine-select>
        </form-group>
        <form-group cpp::label.bind='"build"' cpp::name.bind='"instance_build"'>
          <build-select slot="input" name="instance_build" class="form-control" ref="build_input">
          </build-select>
        </form-group>
        <form-group cpp::label.bind='"recipe"' cpp::name.bind='"recipe_build"' ref="recipe_form_group">
          <recipe-select slot="input" name="instance_build" class="form-control" ref="recipe_input">
          </recipe-select>
        </form-group>
        <form-group cpp::label.bind='"Automatic deployment"' cpp::name.bind='"instance_auto_deploy"'>
          <div slot="input">
            <input slot="input" type="checkbox" name="instance_auto_deploy" ref="auto_deploy_input" />
          </div>
        </form-group>
        <form-group cpp::label.bind='"environment variables"'>
          <variable-list-editor slot="input" ref="variables_input" cpp::value.bind="root->get_instance_variables()">
          </variable-list-editor>
        </form-group>
      </div>
    </model-form>
  </body>
</template>
