<template>
  <head>
    <attribute type="std::string" name="header_background" />
    <script>
      std::string get_header_style()
      {
        if (header_background.length() > 0)
          return "background-image:url('" + header_background + "')";
        return "";
      }
    </script>
  </head>
  <body>
    <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
      <div class="au-card-title" style.bind="get_header_style()">
        <div class="bg-overlay bg-overlay--blue"></div>
	<slot name="title"></slot>
      </div>
      <div class="au-inbox-wrap">
        <div class="au-message">
          <div class="au-message__noti">
            <slot name="header"></slot>
          </div>
          <div class="au-message-list">
            <slot name="content"></slot>
          </div>
          <div class="au-message__footer">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </body>
</template>
