dashboard-list .au-btn-plus {
  .fa, .fas {
    font-weight: 900;
  }
}

dashboard-list.last-build-list {
  .au-message__noti, .au-message__footer {
    display: none;
  }

  .au-message-list {
    height: 424px + 74px + 80px;
  }

  .au-message__item-text {
    .avatar-wrap {
      width: 40px;
      text-align: center;
      padding-top: 20px;

      .fa {
        font-size: 2em;
        text-shadow: #843939 1px 1px 1px;

        &.fa-thumbs-up {
          color: #00e600;
        }

        &.fa-thumbs-down {
          color: red;
        }

	&.fa-hand-paper {
          color: lightgray;
	}

	&.fa-spinner {
	}
      }
    }

    .text {
      margin-left: 30px;
    }
  } // au-message__item-text

  .au-message__item-time {
    text-align: center;
  }
}
