.build-deploy-ui {
  margin-top: 15px;

  label {
    float: left;
  }

  select {
    float: left;
    width: calc(100% - 250px);
  }
}

.instance-data {
  list-style: none;

  li {
    border-bottom: 1px solid lightgray;
  }

  li:last-of-type {
    border-bottom: 0;
  }

  li > label {
    display: inline-block;
    width: calc(100% - 200px);
  }

  li > .value {
    display: inline-block;
    text-align: right;
    width: 200px;
  }

  li > .value > span {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 5px;
  }
}

.setup-actions > .btn-group, .build-deploy-ui button {
  float: right;
}

action-widget {
  progress-bar {
    clear: both;
    margin-top: 70px;
  }

  label {
    padding: 5px 15px 5px 0;
  }
}

state-widget {
  .actions {
    margin-top: 15px;
    text-align: center;
  }
}

.console-result-line {
  color: orange;
  font-weight: bold;
  text-decoration: blink;
}

.console-wide-line {
  width: 5000px;
}
