@media (max-width: 991px) {
  $mobile-header-height: 88px;
  $adjusted-header-height: $mobile-header-height - 2;
  $menu-item-height: 47px;

  aside.menu-sidebar {
    display: block !important;
    top: 0;
    left: 0;
    right: 0;
    height: $mobile-header-height;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;

    > .logo {
      img { height: $mobile-header-height !important; }
      height: $mobile-header-height;
      display: inline-block;
      font-size: 0;
    }

    .menu-sidebar__content {
      display: inline-block;
      height: $adjusted-header-height !important;

      nav {
        padding: 10px;
        height: $adjusted-header-height !important;
        ul {
          height: 100%;
          li {
            display: inline-block;
            margin-right: 20px;
	    vertical-align: middle;
	    height: $menu-item-height;
            i {
              margin-right: 10px;
            }
            span {
              font-size: 0.8em;
            }
          }
	}
      }
    }
  }

  header.header-desktop {
    height: 80px;
  }
}

@media (max-width: 766px) {
  aside.menu-sidebar {
    text-align: center;

    > .logo {
      float: left;
    }

    .menu-sidebar__content {
      nav {
        ul {
          li {
            span { font-size: 0; }
          }
        }
      }
    }
  }
}
