modal {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10%;

  .modal-header, .modal-body {
    background-color: white;
  }

  .modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
  }

  .modal-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }

  .modal-actions {
    text-align: right;
  }
}
