search-input {
  $results-padding: 10px;

  .results {
    display: block;
    background-color: white;
    box-shadow: 0px 2px 5px 0px grey;
    position: absolute;
    top: 44px;
    left: 46px;
    right: 109px;
    //right: 47px;
    padding: $results-padding;
    padding-bottom: 0;

    @media (max-width: 991px) {
      left: 17px;
      right: 79px;
      //right: 17px;
    }

    ul {
      list-style: none;

      li {
        > i {
          padding-right: 15px;
        }

        > span {
          font-weight: bold;
        }

        > a {
          display: inline-block;
          width: calc(100% + #{$results-padding * 2});
          margin: 0 (-$results-padding);
          padding: $results-padding;
          &:hover {
            background-color: blue;
            color: white;
          }
        }
      }

      &.hint-no-results {
        width: 100%;
        text-align: center;

        > i {
          color: blue;
	  padding-right: 5px;
        }
      }
    }
  }
}
