@import "vendor/theme";
@import "modal";
@import "breadcrumbs";
@import "search_input";

@import "mobile_layout";
@import "dashboard";
@import "instance_view";
@import "recipe_view";
@import "machine_view";

.hidden {
  display: none;
}

button {
  transition: all 100ms ease-in;
}

button.disabled, .performing-action button {
  pointer-events: none;
  filter: grayscale(1);
}

responsive-table[role="build-table"] td.status {
  width: 150px;
  padding: 12px 5px;
}

responsive-table[role="build-table"] td.link {
  width: calc(100% - 300px);
}

responsive-table[role="build-table"] td.actions {
  width: 150px;
}

responsive-table[role="backup-table"] td:nth-of-type(3) {
  width: 200px;
}
